@import "tailwindcss";
@plugin "daisyui";

@keyframes spinOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin-once {
  animation: spinOnce 0.5s ease-in-out;
}